<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 error</title>
    {{>headerlinks}}
</head>
<body>
    {{>navbar}}

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                     <!-- right side -->
                     <div class="col-md-12 col-12 errordiv align-item-center">
                        <figure>
                         <img src="images/404.jpg" alt="owner" class="img-fluid errorImage">
                        </figure>
                     </div>
                    <!-- left side -->
                    <div class="col-md-12 col-12 errordiv">
                        <h1><span class="text_color">Opps! Page Not Found</span></h1>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>

    {{>footer}}
</body>
</html>