<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>niceweather</title>
    {{>headerlinks}}
</head>
<body>
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                     <!-- right side -->
                     <div class="col-md-6 col-12 main_header_right align-item-center">
                        <figure>
                         <img src="images/profile.png" alt="owner" class="img-fluid profileImage">
                        </figure>
                     </div>
                    <!-- left side -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to about page</p>
                        <h1>I Am A <span class="text_color">Fullstack Developer</span> And Freelancer</h1>
                       <a href="https://aaliyacollection.000webhostapp.com/Profile.html" target="_blank"> <button>About Me</button></a>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>

    {{>footer}}
  

</body>
</html>